@tailwind base;
@tailwind components;
@tailwind utilities;

.logocircle {
  height:700px;
  width:700px;
  border-radius:34%;
background-color:yellow;
}

.logoframe {
  height:700px;
  width:700px;
  border-radius:100%;
  background-color:red;
}

.circle {
  height:600px;
  width:600px;
  border-radius:34%;
}