@tailwind base;
@tailwind components;
@tailwind utilities;

.logocircle {
  height:800px;
  width:800px;
background-color:white;
border-radius:50%;
}

.circle {
  border-radius:50%;
}


.bigbg {
  background-image:url('/lakerbg.png');
  background-size:100%;
  background-repeat:no-repeat;
}

.buttontime {
  flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */

}

.circletwo{
border-radius:50%;
height:300px;
width:300px;
filter: drop-shadow(5px 5px 10px #ffffff);
}

.menu-one {
  height:520px;
  background-image:url('/lbmenuone.png');
  background-size:cover;
}

.menu-two {
  height:520px;
  background-image:url('/lbmenutwo.png');
  background-size:cover;
}

.bottomcontact{
  background-image:url('/bottombg.png');
  background-size:cover;
}

@media screen and (max-width: 1000px) {
  .bigbg {
    width:333vw;
  }

}